<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egoriku.ladyhappy.launch">

    <application>
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>