<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.egoriku.ladyhappy"
    android:targetSandboxVersion="2"
    tools:targetApi="26">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Instruct the Play Store to create an instant app from our bundle. -->
    <dist:module dist:instant="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity
            android:name="com.egoriku.ladyhappy.mainscreen.presentation.MainActivity"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="search"
                    android:scheme="ladyhappy" />
            </intent-filter>
        </activity>
    </application>
</manifest>