<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egoriku.featurelaunch">

    <application>
        <activity
            android:name="com.egoriku.featurelaunch.presentation.activity.LaunchActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>